node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

dist/
build/
.out/
.next/
.vite/
.cache/

.vscode/
.idea/
*.log
.DS_Store
Thumbs.db

.env
.env.local
.env.development
.env.production
.env.test

.vite/

.eslintcache
.prettier-cache/
.stylelintcache
.qodo

archive
