.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  .labelWrap {
    padding: 0 0.8rem;
  }

  .groupLabel {
    @include font(bodyS);
    @include color(color, purple, 950);
  }

  .radioWrap {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }
}
