.container {
  width: 240px;
  height: 100%;
  @include color(background-color, white);
  padding: 48px 20px;
  @include radius(lg);

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    .logo {
      width: 122px;
    }
    .optionsContainer {
      display: flex;
      flex-direction: column;
      .options {
        width: 100%;
      }
    }
  }
}
