.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    p {
      display: inline-block;
    }
    .header {
      @include font(h2);
    }
    .description {
      @include font(bodyM);
    }
  }

  .form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .button {
      width: 100%;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
